html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to top left, #f0f0f0 0%, #d2d1b0 100%);
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #3f51b5;
    font-family: cursive;
}

h4 u {
    color: #3f51b5;
}

/* ----- FEATURED IMAGE BOX ----- */

.image {
    min-height: 35vh;
    margin: auto;
    width: 220px;
    height: 200px;
    border-radius: 5% 3% 2% 3%;
    overflow: hidden;
    animation: imgFloat 10s ease-in-out infinite;
}

.image img {
    width: 245px;
    height: 235px;
    object-fit: cover;
}

@keyframes imgFloat {
    50% {
        transform: translateY(10px);
        border-radius: 30% 55% 30% 55%;
    }
}

/* ----- FEATURED TEXT BOX ----- */

.name h1 {
    margin: auto;
    text-align: center;
    color: #3f51b5;
}

.objective {
    padding: 1vh 30vh;
    font-size: 17px;
    text-align: center;
}

.about_me {
    font-size: 10px;
    text-align: center;
}

table {
    display: inline;
    text-align: start;
}

table th {
    display: inline;
    text-align: start;
}

.Personal_data {
    font-size: 18px;
    cursor: pointer;
}

/* button  */
button {
    font-family: cursive;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: rgb(86, 227, 213);
    z-index: 1;
    background: #212121;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;

}

button::before {
    font-family: cursive;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: rgb(86, 227, 213);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button:hover {
    color: #212121;
}

button:hover::before {
    width: 100%;
}


.qualification {
    font-size: 10px;
    text-align: center;
}



/* ----- CONTACT BOX ----- */

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 315px;
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(rgba(0, 0, 0, 0.1));
    overflow: hidden;
}

.info>h2 {
    margin-bottom: 20px;
}

/* ----- CONTACT FORM ----- */
.info1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.info2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}


/* ----- S BOX ----- */

.info::after {
    content: "";
    position: absolute;
    bottom: -100%;
    background: rgb(86, 227, 213);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}

.info:hover.info::after {
    bottom: 0;
}


/* ----- CONTACT BOX ----- */
.info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 70%;
    height: 350px;
    background: rgb(86, 227, 213);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.info>h4 {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.info::after {
    background: rgb(255, 255, 255);
}

.info:hover.info h2,
.info:hover.info p,
.info:hover.info i {
    color: #777;
    z-index: 2;
}

.info:hover.info h4 {
    color: black;
    z-index: 2;
}

.row {
    display: flex;
    padding: 5vw 5vw;
    justify-content: space-between;
    width: 90%;
    gap: 5px;
}

.col {
    display: flex;
    width: 50%;


}

.Personal_data .rrow {
    display: inline-flex;
    padding: 1vw;
    justify-content: center;
    width: 70%;
}

.Personal_data .ccol {
    display: inline-block;
    width: 30%;
    text-align: start;


}

/* social icons */
.social-icons {
    gap: 30px;
    display: flex;
    justify-content: center;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.icon:hover {
    color: rgb(191, 134, 237);
}




@media only screen and (max-width: 550px) {
    .Personal_data .rrow {
        display: inline-flex;
        padding: 2vw;
        justify-content: center;
        width: 90%;
    }

    .Personal_data .ccol {
        display: inline-block;
        width: 50%;
        text-align: start;


    }
}

@media only screen and (max-width: 900px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .objective {
        padding: 1vh 3vh;
        font-size: 17px;
        text-align: center;
        align-items: center;
    }
}



/* animations */
@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInUp-animation {
    animation: 1.5s fadeInUp;
} 

@keyframes fadeInDown {
    0% {
        transform: translateZ(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInDown-animation {
    animation: 2s fadeInDown;
}